*.xz
*.gz
*.bz2

/linux-ck/config.x86_64.last
/linux-ck/*.pkg
/linux-ck/src/
/linux-ck/pkg/

/nvidia-ck/*.run
/nvidia-ck/src/
/nvidia-ck/pkg/

/rxvt-unicode/src/
/rxvt-unicode/pkg/

/bdf-tewi-git/src/
/bdf-tewi-git/pkg/
/bdf-tewi-git/tewi-font/

/tewisay-git/pflag/
/tewisay-git/pkg/
/tewisay-git/rwidth/
/tewisay-git/src/
/tewisay-git/tewisay/
